# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# macOS / OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Streamlit local secrets
.streamlit/secrets.toml
